/* TextUtils.module.css */
.textColorless {
  color: transparent !important;
}
.title {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 17rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: slateblue;
}


